<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

   <link rel="stylesheet" href="/css/style.css">
   <title>CodeGig</title>
</head>

<body>
   <header class="inner">
      <h2>
         <a href="/" class="href"><i class="fas fa-code">
            CodeGig
         </i></a>
      </h2>
      <nav>
         <ul>
            <li>
               <a href="/" class="href">Home</a>
            </li>
            <li>
               <a href="/gigs" class="href">All Gigs</a>
            </li>
            <li>
               <a href="/gigs/add" class="href">Add Gig</a>
            </li>
         </ul>
      </nav>
   </header>
   
   <div class="container">
      {{{body}}}
   </div>
</body>

</html>